# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Distribution
build/
dist/

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/

# Coverage
.coverage

# Logs
*.log

# OS
.DS_Store
Thumbs.db